<div class="board__new">
    <h2>New Board</h2>
    <ul>
        <% @board.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
    <%= form_with(model: @board, url: boards_path, method: 'post', local: true) do |f| %>
        <div>
            <%= f.label :name %>
        </div>
        <div>
            <%= f.text_field :name %>
        </div>
        <div class="description__label">
            <%= f.label :description %>
        </div>
        <div>
            <%= f.text_area :description %>
        </div>
        <%= f.submit 'Submit' %>
    <% end%>
</div>