<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <header class="header">
    <div class="header__logo">Boards</div>
  <% if user_signed_in? %>
    <div class="header__dropdown"><%= image_tag "Oval.png" %></div>
  <% else %>
  <div class="header__login"><%= link_to 'ログイン', new_user_session_path %></div>
    
  <% end %>
    
  </header>
    <%= yield %>
  </body>
</html>
